$successColor: #5cb85c;
$warningColor: #FF9400;
$dangerColor: #F04141;
$primaryColor: #337ab7;
$defaultColor: #ddd;

.btn {
    @include transition (background-color 0.2s cubic-bezier(0.4, 0, 1, 1));
    position: relative; 
    display: inline-block;
    padding: 6px 30px;
    margin-bottom: 0;
    font: 400 16px $fontFamily; 
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px; 
    color: #333;
    background-color: #ddd;
    &:hover {
        background-color: darken($defaultColor, 10);
        color: #333; 
        text-decoration: none;
    } 
    &.active, 
    &:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
    &.disabled, 
    &[disabled]{
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65 !important;
    }
}

/*
    BUTTON SIZES
*/

.btn-sm {
    font-size: 12px;
}

.btn-md-sm {
    font-size: 14px;
}

.btn-md-lg {
    font-size: 18px;
}

.btn-lg {
    font-size: 20px;
}

/*
    BUTTON TYPES
*/
 
.btn-success {
    color: #fff;
    background-color: $successColor;
    &:hover {
        color: #fff;
        background-color: darken($successColor, 10);
    }
    &[disabled] { 
        &:hover {
            background-color: $successColor;
        }
    }
}

.btn-danger {
    color: #fff;
    //background-color: #d9534f;
    background-color: $dangerColor;
    &:hover {
        color: #fff; 
        //background-color: #c9302c; 
        background-color: darken($dangerColor, 10);
    }
    &[disabled] { 
        &:hover {
            background-color: $dangerColor;
        }
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    &:hover {
        color: #333;
        background-color: darken(#fff, 10);
    }
    &[disabled] { 
        &:hover {
            background-color: #fff;
        }
    }
}

.btn-default_border {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    &:hover {
        color: #333;
        background-color: darken(#fff, 10);
        border-color: darken(#ccc, 10);
    }
    &[disabled] { 
        &:hover {
            background-color: #fff;
            border: 1px solid #ccc;
        }
    }
}

.btn-warning {
    color: #fff;
    background-color: $warningColor;
    &:hover {
        color: #fff;
        background-color: darken($warningColor, 10);
    }
    &[disabled] { 
        &:hover {
            background-color: $warningColor;
        }
    }
}

.btn-primary {
    color: #fff;
    background-color: $primaryColor;
    &:hover {
        color: #fff;
        background-color: darken($primaryColor, 10)
    } 
    &[disabled] { 
        &:hover {
            background-color: $primaryColor;
        }
    }
}

.btn-link {
    font-weight: 400;
    color: #337ab7;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
        color: #23527c;
        text-decoration: underline;
        background-color: rgba(0, 0, 0, 0);
    } 
    &:active,
    &:hover,
    &[disabled]{ 
        border-color: rgba(0, 0, 0, 0);
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }  
    &[disabled]  {
        &:hover{
            color: #777;
            text-decoration: none; 
        }
    }
}

 
.btn-appo {
    color: #424242;
    background-color: rgba(0, 0, 0, 0); 
    border: 1px solid #CAD4D8;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 14px;

    &:hover {
        color: #424242;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #a0a0a0;
        
    }
    &[disabled] { 
        &:hover {
            border: 1px solid #CAD4D8;
        }
    }
    &--red {
        &:hover {
            color: #fff;
            background-color: #F04141;
            border-color: rgba(0, 0, 0, 0); 
        }
    }
    &--yellow {
        &:hover {
            color: #fff;
            background-color: #fbd900;
            border-color: rgba(0, 0, 0, 0); 
        }
    }
}


.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 5px;
}

.btn+.btn {
    margin-right: 7px;
}

/*
    LOADING
*/

.btn-loading[disabled], 
.btn-loading {
    opacity: 1;
    color: rgba(0, 0, 0, 0);
    &:before {  
        content: '';
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 2px;
        border-color: #fff #fff rgba(255,255,255,0) rgba(255,255,255,0);
        border-radius: 100%;
        animation: clockwise .5s linear infinite;
        position: absolute;
        left: 50%; 
        top: 50%;
        margin: -8px 0 0 -8px;
    }
    &:hover,
    &:focus,
    &:active {
        color: rgba(0, 0, 0, 0);
    }
}

.btn-loading-left[disabled],
.btn-loading-left {
    opacity: 1;
    &:before {  
        content: ''; 
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 2px;
        border-color: #fff #fff rgba(255,255,255,0) rgba(255,255,255,0);
        border-radius: 100%;
        animation: clockwise .5s linear infinite;
        position: absolute;
        left: 8px;
        top: 50%;
        margin: -8px 0 0 0;
    }
}
