
$successColor: #23ab00;
$warningColor: #FF9400;
$errorColor: #ed1616;
$fucusColor: #66afe9;

.has-success,
.has-success:hover { 
    %hasSuccessColor {
        color: $successColor;
    }
    %hasSuccessBorderColor {
        border-color: $successColor; 
        &:hover {
            border-color: darken($successColor, 7%);
        }
        &:focus {
            border-color: $successColor;
        }
    }
}

.has-warning {
    %hasWarningColor {
        color: $warningColor;
    }
    %hasWarningBorderColor {
        border-color: $warningColor;
        &:hover {
            border-color: darken($warningColor, 7%);
        }
        &:focus {
            border-color: $warningColor;
        }
    }
}

.has-error,
.has-error:hover {
    %hasErrorColor {
        color: $errorColor;
    }
    %hasErrorBorderColor { 
        border-color: $errorColor;
        &:hover {
            border-color: darken($errorColor, 7%);
        }
        &:focus {
            border-color: $errorColor;
        }
    }
}

.form-group {
    margin-bottom: 15px;
 
    label {
        display: inline-block;
        max-width: 100%;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;

        .require {
            color: red;
        }
    }

    &__description { 
        margin: 7px 0 0 0; 
        display: block;
        font-size: 14px;
        &:before {
            content: 'i';
            font: 700 12px serif;
            width: 14px;
            height: 14px;
            text-align: center;
            float: left;
            display: block; 
            color: #555;
            border: 1px solid #555;;
            margin-right: 5px;
            border-radius: 50px;
        } 
    }
    &--center {
        text-align: center;
        
        input {
            text-align: center;
        }
    }
}

.control-label {
    @extend %hasSuccessColor;
    @extend %hasWarningColor;
    @extend %hasErrorColor;
}

.help-block {
    @extend %hasSuccessColor;
    @extend %hasWarningColor;
    @extend %hasErrorColor;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
  
.form-control[disabled],
 fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    //background-color: #eee;
    opacity: 1; 
}
textarea.form-control {
    height: auto;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.checkbox label,
.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.form-control {
    @extend %hasSuccessBorderColor; 
    @extend %hasWarningBorderColor;
    @extend %hasErrorBorderColor; 
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:hover {
        border-color: #aaa;
    }

    &:focus {
        border-color: $fucusColor;
        outline: 0;
    }
  
    &.form-control--date-right { 
        background-image: url(../images/calendar-icon.svg);
        background-position: 97% 3px;
        background-repeat: no-repeat;
        background-size: 25px;
        padding-right: 35px;
    }
}

 