$borderColor: #eaeaea;
$backgroundColor: #fff; 
$fucusColor: #66afe9;

.ssElem { 
    position: relative;
    display: inline-block;

    &__primary {
        position: relative;
        cursor: pointer;
        display: inline-block;

        &__select{
            border: 1px solid $borderColor;
            background: $backgroundColor;
            border-radius: 3px;
            position: relative;
            padding: 0 80px 0 15px;
            font-size: 14px;
            line-height: 2.8; 
            z-index: 10;

            &:after {
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                background-image: url(../images/filter-arrow.svg?fc9a0);
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: 50%;
                height: 20px;
                width: 20px;
                margin: -10px 0 0 0;
            }
            &:hover {
                border-color: darken($borderColor, 10);
                z-index: 11;
            }  
        }
        &_remove {
            &--active {
                .ssElem__primary__select {
                    position: relative;
                    z-index: 10; 
                    padding: 0 40px 0 15px; 
                    margin-right: 40px;
                    border-radius: 3px 0 0 3px;
                }
            }
        }
        &__remove{
            background-image: url(../images/close--black.svg);
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 50%;
            width: 41px;
            top: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            border: 1px solid $borderColor;
            background-color: $backgroundColor;
            border-radius: 0 3px 3px 0;
 
            &:hover {
                border-color: darken($borderColor, 10);
                z-index: 11;
            }
        }

    }
    &_secondary {
        &--active {
            .ssElem__secondary {
                margin: 7px 0 0 0;
                display: block;
            }
            .ssElem__primary__select { 
                border-color: darken($borderColor, 15);
            }
        } 
    } 
    &__secondary { 
         
        overflow: hidden;
        position: absolute;
        min-width: 280px;
        z-index: 10;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.22);
        display: none;

        &__search {
            padding: 7px;
            border-bottom: 1px solid #f5f5f5;

            &__input { 
                width: 100%;
                font: 400 16px "Exo 2",sans-serif;
                color: #737373;
                padding: 7px 5px 7px 35px;
                background-image: url(../images/search-shape.png);
                background-repeat: no-repeat;
                background-position: 10px center;
                background-size: 16px;
                border-radius: 2px;
                border: 1px solid #ccc;
                &:hover {
                    border-color: darken($borderColor, 10);
                } 
                &:focus {
                    border-color: $fucusColor;
                }
            }
        }
 
        &__list {
            
            max-height: 280px;
            min-height: 40px;
            overflow-y: auto;
             
            &__item {
                cursor: pointer;

                &--active { 
                    background: #f9f9f9;
                    .ssElem__secondary__list__item__click {
                        color: #00d21c;
                    }
                }
 
                &__click {
                    float: left;
                    width: 40px;
                    height: 40px;
                    padding: 10px 0 0 18px;
                    color: #e0e0e0; 
                    &__circle { 
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        margin-top: 4px;
                    }
                }
                &__value { 
                    margin-left: 45px; 
                    border-bottom: 1px solid #f5f5f5;
                    line-height: 1;
                    min-height: 40px;
                    padding: 11px 15px 0 0;
                }
                &:hover {
                    background: #f5f5f5;
                }
                &_empty {
                    padding: 10px 15px 
                }
            }
            
        }
    }
}
