<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/png" href="/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-precomposed.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-itunes-app" content="app-id=1159620378">
    <meta name="google-play-app" content="app-id=ru.bitkom24.android">
    <meta name="apple-mobile-web-app-title" content="Битком 24">
    <meta name="application-name" content="Битком 24">
    <meta name="theme-color" content="#ffffff">
    <link href="/{{{files.style}}}" rel="stylesheet">
</head>

<body class="theme_main">
    <div id="app"></div>
    <script src="/{{{files.manifest}}}"></script>
    <script src="/{{{files.vendor}}}"></script>
    <script src="/{{{files.app}}}"></script>
</body>

</html>