$mainColor: #f04141;
$mainActiveColor: #fff;
$textColor: #444;
$borderColor: #ccc;
$borderActiveColor: rgba(0, 0, 0, 0);
$borderHoverColor: rgba(0, 0, 0, 0);

.pgnElem { 
    margin: 20px 0;
    text-align: center;
    width: 100%;
    &__container {
        display: inline-block;
    }
    &__item {
        display: inline-block;
        color: $textColor;
        font-size: 19px;
        border-radius: 50px;
        padding: 7px;
        text-align: center;
        line-height: 1.0;
        min-height: 36px;
        min-width: 36px;
        margin: 0 5px;
        vertical-align: top;
        transition: all 0.2s ease-in-out;
        border: 1px solid $borderColor; 
            
        &:hover {
            background-color: $mainColor;
            color: $mainActiveColor;
            border: 1px solid $borderActiveColor; 
        }

        &_prev,
        &_next,
        &_first,
        &_last {
            padding: 8px 15px;
            font-size: 16px;
        }
        &_disable {
            color: lighten( $textColor, 20);
            cursor: default;
            border: 1px solid lighten( $borderColor, 7);

            &:hover {
                background-color: transparent;
                color: lighten( $textColor, 20); 
                border: 1px solid lighten( $borderColor, 7);
            }
        }
        &_prev {
            margin: 0 21px 0 0;
        }
        &_next {
            margin: 0 0 0 21px;
        }
        &_active {
            background-color: $mainColor;
            color: $mainActiveColor;
            border: 1px solid $borderActiveColor;
            
            &:hover {
                background-color: darken($mainColor, 10) ;
            }
        }
        &_separator {
            &:hover {
                background-color: transparent;
                color: $mainColor; 
            }
        }
    }

}
