.AccessPermissionPanel {
    max-width: 460px;
    padding: 25px 35px;
    background: #fff;
    border-radius: 2px;
    margin: 15px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
    width: 100%;
    min-height: 150px;
    position: relative;
    &__title {
        margin-bottom: 15px;
        line-height: 1.5;
    }
    &__content {
        margin-bottom: 30px;
        line-height: 1.5;
        &__item {
            margin-bottom: 10px;
        }
    }
    &__footer {
        display: flex;
        flex-direction: row-reverse;
        &>form {
            margin-left: 8px;
        }
    }
}