.RegistrationForm {
    width: 270px;
    &__title {
        font-size: 24px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 20px;
    }
    &__avatar {
        width: 90px;
        height: 90px;
        margin: 20px auto 50px auto;
        background: url(../images/Avatar.png) no-repeat
    }
    &__link {
        margin: 10px 0;
        text-align: center;
    }
}