.ssmainh { 
    background: #f5f5f5;
    width: 100%;

    &__container { 
        padding: 33px 0;
        &__header {
            font: 400 26px $fontFamily;
            color: #393939;
            margin: 0 0 20px 0;
        }
        &__write { 
            width: 100%;
            position: relative;

            &__input {
                width: 100%;
                font: 400 18px $fontFamily;
                color: $gray4;
                padding: 13px 100px 13px 48px;
                border: none;
                background-image: url(../images/search-shape.png);
                background-repeat: no-repeat;
                background-position: 14px center;

                &:focus {
                    outline: none;
                }
            }
            &__remove {
                @include transition(opacity .2s);
                width: 40px;
                cursor: pointer;
                opacity: 0.5;
                position: absolute;
                border: none;
                height: 48px;
                background-size: 28px;
                background-position: 50%;
                top: 0;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0) !important;
                background-image: url(../images/close--black.svg);
                background-size: 24px;
                right: 10px;

                &:hover {
                    opacity: 0.9
                }
            }
        } 
      
        &__find-button {
            @include css3-prefix('transition', '0.2s');
            display: inline-block;
            font: 600 17px $fontFamily;
            color: $white;
            padding: 14px 30px;
            background: $red;
            border: none;
            cursor: pointer;

            &:hover { 
                background: darken($red, 15%);
            }
        }

        &__select {
            width: 100%;
            margin: 20px 0 0 0;

            &__openFilters {
                display: inline-block;
                cursor: pointer;
                color: #000;
                font: 400 18px $fontFamily;
                transition: .2s;
                border: 0;
                background: rgba(0, 0, 0, 0);
                
                &--active {
                    opacity: .7;
                }

                &:hover {
                    opacity: .7;
                }

                &:before {
                    content: '\f1de';
                    display: inline-block;
                    margin-right: 12px;
                    position: relative;
                    font: normal normal normal 22px/1 FontAwesome;
                    top: 2px;
                }
            }

            &__tags.sstagsh {
                .sstagsh__item {
                    @include transition(all 0.2s);
                    display: inline-block;
                    color: #424242;
                    padding: 7px 15px 9px 16px;
                    font: 400 14px "Exo 2",sans-serif;
                    border: 1px solid #CAD4D8;
                    border-radius: 30px;
                    margin-right: 14px;
                    cursor: pointer;
                    background: transparent;

                    &:hover {
                        background: rgba(0, 0, 0, 0);
                        color: #000;
                        border-color: #999;
                    }

                    &_active {
                        background:#F04141;
                        color: #fff;
                        border-color: rgba(0, 0, 0, 0);
                        &:hover {
                            background: darken(#F04141, 15);
                            color: #fff;
                            border-color: rgba(0, 0, 0, 0);
                        }
                        &:active {
                            background: darken(#F04141, 25);
                        }
                    }
                }
            }
        }
    }


    &__filters {
        height: 0;
        overflow: hidden;

        &--active {  
            overflow: inherit;
            height: 64px;
        }
        &__inner {
            padding: 25px 0 0 0;
            border-top: 1px solid rgba(0,0,0,0.05);
            margin-top: 20px;

            > div {
                margin-right: 10px; 
            }
        }
    }
}


