*,
:after,
:before {
    box-sizing: border-box;
}

html,
body,
#app,
.App {
    height: 100%;
    width: 100%;
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: 'Exo 2', sans-serif
}