$successColor: #23ab00;
$warningColor: #FF9400;
$dangerColor: #B92D00;
$fucusColor: #66afe9;
$defaultColor: #ccc;
$textFormFieldColor: #555555;
$textFormDescriptionColor: #555555;
$textFormHelpColor: #737373;
//Modificators
.has_success,
.has_success:hover {
    %hasSuccessColor {
        color: $successColor;
    }
    %hasSuccessBorderColor {
        border-color: $successColor;
        &:hover {
            border-color: darken($successColor, 7%);
        }
        &:focus {
            border-color: $successColor;
        }
    }
}

.has_warning,
.has_warning:hover {
    %hasWarningColor {
        color: $warningColor;
    }
    %hasWarningBorderColor {
        border-color: $warningColor;
        &:hover {
            border-color: darken($warningColor, 7%);
        }
        &:focus {
            border-color: $warningColor;
        }
    }
}

.has_danger,
.has_danger:hover {
    %hasDangerColor {
        color: $dangerColor;
    }
    %hasDangerBorderColor {
        border-color: $dangerColor;
        &:hover {
            border-color: darken($dangerColor, 7%);
        }
        &:focus {
            border-color: $dangerColor;
        }
    }
}

.pos_center {
    %posCenter {
        text-align: center;
    }
}

.has_loading,
.has_loading:hover {
    %hasLoading {
        &:after {
            content: '';
            border-style: solid;
            height: 14px;
            width: 14px;
            border-width: 2px;
            border-color: #555 #555 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
            border-radius: 100%;
            animation: clockwise .4s linear infinite;
            position: absolute;
            right: 15px;
            top: 50%;
            margin: -7px 0 0 0;
        }
        &:before {
            content: '';
            height: 24px;
            width: 24px;
            position: absolute;
            right: 10px;
            top: 50%;
            margin: -12px 0 0 0;
        }
    }
}

//Style Classes
.form__group {
    margin-bottom: 15px;
}

.form__description {
    @extend %posCenter;
    margin: 7px 0 0 0;
    display: block;
    font-size: 14px;
    &:before {
        content: 'i';
        font: 700 12px serif;
        width: 14px;
        height: 14px;
        text-align: center;
        float: left;
        display: block;
        color: $textFormDescriptionColor;
        border: 1px solid #555;
        ;
        margin-right: 5px;
        border-radius: 50px;
    }
}

.form__label {
    @extend %hasSuccessColor;
    @extend %hasWarningColor;
    @extend %hasDangerColor;
    @extend %posCenter;
    display: inline-block;
    max-width: 100%;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    .require {
        cursor: help;
        color: #B92D00;
    }
}

.form__help {
    @extend %hasSuccessColor;
    @extend %hasWarningColor;
    @extend %hasDangerColor;
    @extend %posCenter;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: $textFormHelpColor;
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.checkbox label,
.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.form__field[disabled] {
    cursor: not-allowed;
}

.form__field[disabled],
.form__field[readonly] {
    background-color: #eee;
    opacity: 1;
}

textarea.form__field {
    height: auto;
}

.form__field-parent {
    position: relative;
    @extend %hasLoading;
}

.form__field {
    @extend %hasSuccessBorderColor;
    @extend %hasWarningBorderColor;
    @extend %hasDangerBorderColor;
    @extend %posCenter;
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: $textFormFieldColor;
    background-color: #fff;
    background-image: none;
    border: 1px solid $defaultColor;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:hover {
        border-color: #aaa;
    }
    &:focus {
        border-color: $fucusColor;
        outline: 0;
    }
}