$textColorGrey: #555555;
body.theme_main {
    background-color: #f5f5f5;
}

.theme_main {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    flex-wrap: wrap;
    &__header,
    &__article,
    &__footer {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__header,
    &__article {
        align-items: center;
    }
    &__footer {
        align-items: flex-end;
    }
    &__header {
        @media #{$SCREEN_PHONE} {
            align-items: flex-start;
        }
        &__logotype {
            display: block;
            background: url(../images/Logotype.png) no-repeat;
            height: 42px;
            width: 244px;
            margin: 15px;
            @media #{$SCREEN_PHONE} {
                background: url(../images/LogotypeMini.png) no-repeat;
                height: 28px;
                width: 155px;
            }
        }
    }
    &__article {}
    &__footer {
        &__copytight {
            color: $textColorGrey;
            margin: 20px;
            font-size: 14px;
        }
    }
}