.main-header {
  &__shadow{
    @include box-shadow( '0px', '4px', '10px', 'rgba(0, 0, 0, 0.12)' );
    position: relative;
    z-index: 10;
  }
  &__inner {
    width: 100%;
    height: 64px;
  }
  &__left { 
    &__item {
      float: left;
    }
  }
  &__logo {
    display: block;
    height: 64px;
    padding: 10px 15px 0 0;
    img { 
      width: auto;
      height: 42px;
      display: block;
    }
  }
  &__city{
    color: $black2;
    font: 300 15px $fontFamily;
    padding: 0 20px; 
    cursor: pointer;
    line-height: 4.3;
    //cursor: pointer;

    // &:hover {
    //   opacity: 0.8;
    // }

    &:before {
      content: '\f041';
      display: inline-block;
      font: 400 18px 'FontAwesome';
      color: $gray;
      margin-right: 15px;
    }

    // &:after {
    //   content: '';
    //   width: 12px;
    //   height: 6px;
    //   background-image: url(../images/arrow.png);
    //   display: inline-block;
    //   margin-left: 8px;
    // }
  } 
  &__main-menu {
    position: absolute;
    left: 50%;
    width: 340px;
    margin-left: -150px;
    // width: 220px;
    // margin-left: -110px;  
    
    &__item {
      float: left;
      margin-right: 40px; 

      &:last-child {
        margin-right: 0;
      }
    }
    
    &__link {
      @include transition(border 0.1s ease-out);
      font: 600 17px $fontFamily;
      color: $black3; 
      display: block;
      line-height: 3.6;
      height: 64px;

      &:hover {
        color: $red2
      }
 
      &.active {
        border-bottom: 3px solid $red2;
      } 
    }
  }
  &__right {
    float: right;
    &__item {
      float: right;
    }
  }
  
  &__phone {
    padding: 12px 0 0 0;

    &__number {
      font: 600 17px $fontFamily;
      color: $black3;
      margin-bottom: 3px;
      display: block;

      &:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background-image: url(../images/phone.png);
        margin-right: 15px;
        vertical-align: bottom;
      }
    }
    &__note {
      font: 300 12px $fontFamily;
      color: $gray2;
      margin-left: 33px;
    }
  }
}
