.ssmh { 
    &__container { 
        background: #f5f5f5;
        width: 100%;
        padding: 20px 0;

        &__write { 
            width: 100%;
            position: relative;

            &__input {
                width: 100%;
                font: 400 18px $fontFamily;
                color: $gray4;
                padding: 13px 100px 13px 48px;
                border: none;
                background-image: url(../images/search-shape.png);
                background-repeat: no-repeat;
                background-position: 14px center;

                &:focus {
                    outline: none;
                }
            }
            &__remove,
            &__settings {
                @include transition(opacity .2s);
                width: 40px;
                cursor: pointer;
                opacity: 0.5;
                position: absolute;
                border: none;
                height: 48px;
                background-size: 28px;
                background-position: 50%;
                top: 0;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0) !important;
                &:hover {
                    opacity: 0.9
                }
            }
            &__settings {
                right: 10px;
                background-image: url(../images/search-filter--black.svg);
                &--active { 
                    background-image: url(../images/search-filter--red.svg);
                }
            } 
            &__remove {
                background-image: url(../images/close--black.svg);
                background-size: 24px;
                right: 55px;
            }
        } 
      
        &__find-button {
            @include css3-prefix('transition', '0.2s');
            display: inline-block;
            font: 600 17px $fontFamily;
            color: $white;
            padding: 14px 30px;
            background: $red;
            border: none;
            cursor: pointer;

            &:hover { 
                background: darken($red, 15%);
            }
        }
    }


    &__filters {
        height: 0;
        overflow: hidden;

        &--active {  
            overflow: inherit;
            height: 64px;
        }
        &__fatch-failure {
            padding: 30px 0 0 0;
            color: #444;
        }
        &__inner {
            padding: 20px 0 0 0;
            border-top: 1px solid rgba(0,0,0,0.05);
            margin-top: 20px;

            > div {
                margin-right: 10px; 
            }
        }
    }
}
